html {
  height: 100%;
}

body {
  height: 100%;
}

h1 {
  font-weight: bold;
}

.navbar {
  z-index: 999;
  margin-bottom: 0 !important;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.nav-logo {
  margin-left: 1em;
  /* margin-top: 6px; */
  width: 3em;
  height: 3em;
}

.section {
  position: relative;
}

.section img {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 1366px) {
  .nav-logo {
    margin-top: 0.7em;
    width: 2em;
    height: 2em;
  }
}