html {
  height: 100%;
}

body {
  height: 100%;
}

h1 {
  font-weight: bold;
}
.nav-logo {
  margin-bottom: -1em;
  width: 3em;
  height: 3em;
}

.cover-width {
  width: 100%;
}

@media (max-width: 1366px) {
  .nav-logo {
    width: 2em;
    height: 2em;
  }
}
