@font-face {
  font-family: helvetica-condensed-bold;
  src: url("../fonts/Helvetica-Condensed-Bold.otf");
}

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100%;
}

.navbar {
  z-index: 999;
  margin-bottom: 0 !important;
  height: 7em;
}

.navbar-nav > li > a {
  padding: 40px 20px 30px 20px !important;
  font-size: 2em;
}

.nav-logo {
  margin-left: 2em;
  width: 6em;
  height: 6em;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.section {
  width: 100%;
  position: relative;
}

.bg-img {
  width: 100%;
}

.main-text {
  color: white;
}

.main-text .p1 {
  font-family: helvetica-condensed-bold;
  position: absolute;
  top: 24%;
  left: 23.9%;
  font-size: 10em;
}

.main-text .p2 {
  font-family: helvetica-condensed-bold;
  position: absolute;
  top: 24%;
  left: 32.5%;
  font-size: 10em;
}

.main-text img {
  position: absolute;
  top: 27%;
  left: 26.8%;
  width: 10em;
}

.main-text hr {
  position: absolute;
  background-color: white;
  left: 50%;
  width: 7px;
  height: 90px;
  top: 25.5%;
}

.main-text p {
  position: absolute;
  top: 26.25%;
  left: 51.5%;
  font-size: 2em;
  width: 30%;
  text-align: left;
}

#our-story {
  width: 60%;
  position: absolute;
  z-index: 99;
  top: 79%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.story-text {
  position: absolute;
  color: white;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.story-text h1 {
  font-weight: bold;
  position: absolute;
  font-size: 7em;
  width: 31%;
  text-align: right;
  left: 11.5%;
  top: -80%;
}

.story-text hr {
  position: absolute;
  background-color: white;
  left: 44%;
  width: 3px;
  height: 350px;
  top: -99%;
}

.story-text p {
  position: absolute;
  font-size: 2em;
  width: 53%;
  text-align: left;
  left: 46%;
  top: -80%;
}

.footprints-text {
  color: white;
  z-index: 99;
}

.footprints-text h1 {
  font-weight: bold;
  position: absolute;
  font-size: 13em;
  width: 30%;
  text-align: left;
  left: 12%;
  top: 19%;
}

.footprints-text hr {
  position: absolute;
  background-color: white;
  left: 30%;
  width: 6px;
  height: 180px;
  top: 55.5%;
}

.footprints-text p {
  position: absolute;
  color: white;
  font-size: 2em;
  left: 31%;
  width: 28%;
  top: 56%;
}

.footprints-text span {
  background-color: #13A89E;
  padding: 0 20px;
}

.safety-text {
  color: white;
  z-index: 99;
}

.safety-text .safety-headline {
  position: absolute;
  width: 30%;
  left: 23%;
  top: 11%;
}

.safety-text p {
  position: absolute;
  color: white;
  font-size: 2em;
  width: 39%;
  left: 54%;
  top: 17.5%;
}

.safety-text .safety-graph {
  position: absolute;
  width: 55%;
  left: 19%;
  top: 57%;
}

.network-text {
  color: white;
  z-index: 99;  
}

.network-text .p1 {
  position: absolute;
  font-size: 14em;
  font-weight: bold;
  letter-spacing: 0.2em;
  left: 30.5%;
  top: 32%;
}

.network-text .p2 {
  position: absolute;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 0.25em;
  left: 37.5%;
  top: 44%;
}
  
.network-text .network-description {
  position: absolute;
  left: 33%;
  top: 59.5%;
  background-color: #13A89E;
  padding: 1%;
  width: 33%;
}

.network-text .network-description hr {
  border: 2px solid white;
  width: 33%;
  margin-top: 3em;
  margin-bottom: -3em;
}

.network-text .network-description p {
  font-size: 2em;
  padding: 3em;
}

.community-experience {
  color: white;
  z-index: 99;
}

.community-experience .head1 {
  position: absolute;
  font-weight: bold;
  font-size: 5em;
  left: 6.5%;
  top: 21%;
}

.community-experience .head2 {
  position: absolute;
  font-weight: bold;
  font-size: 5em;
  left: 57.5%;
  top: 21%;
}

.community-experience .hr1 {
  position: absolute;
  border: 2px solid white;
  left: 18%;
  top: 29%;
  width: 15%;
}

.community-experience .hr2 {
  position: absolute;
  border: 2px solid white;
  left: 67%;
  top: 29%;
  width: 15%;
}

.community-experience .p1 {
  position: absolute;
  text-align: center;
  font-size: 2em;
  left: 10%;
  top: 32%;
  width: 33%;
}

.community-experience .p2 {
  position: absolute;
  text-align: center;
  font-size: 2em;
  left: 59%;
  top: 32%;
  width: 33%;
}

.ready {
  background: black;
  height: 1000px;
  position: relative;
  color: white;
}

.ready img {
  position: absolute;
  top: -13%;
}

.ready a, a:hover, a:active, a:visited {
  text-decoration: none !important;
  color: white !important;
}

.ready .get-started-text {
  text-align: center;
  width: 30%;
  position: absolute;
  left: 34%;
  top: 52%;
}

.ready .get-started-text .get-started {
  border: 2px solid white;
  font-weight: bold;
  padding: 1em;
  margin: 0 auto;
  width: 50%;
}

.ready .get-started-text .get-started p {
  font-size: 2em;
  margin: 0;
  padding: 0.7em;
}

.ready .get-started-text .hr1 {
  border: 1px solid white;
  float: left;
  width: 19%;
  margin-top: 57px;
}

.ready .get-started-text .hr2 {
  border: 1px solid white;
  float: right;
  width: 19%;
  margin-top: -57px;
}

@media screen and (min-width: 1800px) {
  /** Nav */
  .navbar {
    height: 5em;
  }
  
  .navbar-nav > li > a {
    padding: 25px 10px 20px 10px !important;
    font-size: 1.5em;
  }
  
  .nav-logo {
    margin-left: 1em;
    width: 4em;
    height: 4em;  
  }
  /** /Nav */

  /** Footprint */
  .main-text .p1 {
    top: 24%;
    left: 21.8%;
    font-size: 8em;
  }
  
  .main-text .p2 {
    top: 24%;
    left: 31%;
    font-size: 8em;
  }
  
  .main-text img {
    top: 27%;
    left: 25%;
    width: 8em;
  }
  
  .main-text hr {
    left: 50%;
    width: 5px;
    height: 65px;
    top: 26%;
  }
  
  .main-text p {
    top: 27%;
    left: 51.5%;
    font-size: 1.5em;
    width: 30%;
  }
  /** /Footprint */

  /** Discovery */
  .story-text h1 {
    font-size: 5em;
    width: 31%;
    left: 11.5%;
    top: -80%;
  }
  
  .story-text hr {
    left: 44%;
    width: 3px;
    height: 250px;
    top: -99%;
  }
  
  .story-text p {
    font-size: 1.5em;
    width: 50%;
    left: 46%;
    top: -80%;
  }
  /** /Discovery */

  /** Make some footprints */
  .footprints-text h1 {
    font-size: 10em;
    width: 30%;
    left: 12%;
    top: 19%;
  }
  
  .footprints-text hr {
    left: 30%;
    width: 4px;
    height: 140px;
    top: 57%;  
  }
  
  .footprints-text p {
    font-size: 1.5em;
    left: 31%;
    width: 28%;
    top: 58%;
  }
  
  .footprints-text span {
    background-color: #13A89E;
    padding: 0 20px;
  }
  /** /Make some footprints */

  /** Safety first */
  .safety-text p {
    font-size: 1.5em;
  }
  /** /Safety first */

  /** Expand your network */
  .network-text .p1 {
    font-size: 11em;
    letter-spacing: 0.15em;
    left: 30.5%;
    top: 32%;
  }
  
  .network-text .p2 {
    font-size: 3em;
    letter-spacing: 0.2em;
    left: 38.5%;
    top: 44%;
  }
    
  .network-text .network-description {
    left: 33%;
    top: 59.5%;
    padding: 1%;
    width: 33%;
  }
  
  .network-text .network-description hr {
    width: 32%;
    margin-top: 3em;
    margin-bottom: -3em;
  }
  
  .network-text .network-description p {
    font-size: 1.5em;
    padding: 3em;
  }
  /** /Expand your network */

  /** The community matters & First hand experience */
  .community-experience .head1 {
    font-size: 4em;
    left: 5%;
    top: 21%;  
  }
  
  .community-experience .head2 {
    font-size: 4em;
    left: 56.5%;
    top: 21%;
  }
  
  .community-experience .hr1 {
    left: 18%;
    top: 29%;
    width: 15%;
  }
  
  .community-experience .hr2 {
    left: 67%;
    top: 29%;
    width: 15%;
  }
  
  .community-experience .p1 {
    font-size: 1.5em;
    left: 9%;
    top: 32%;
    width: 33%;
  }
  
  .community-experience .p2 {
    font-size: 1.5em;
    left: 57%;
    top: 32%;
    width: 34%;
  }
  /** /The community matters & First hand experience */

  /** Get started */
  .ready {
    height: 800px;
  }
  
  .ready img {
    position: absolute;
    top: -10%;
  }
  
  .ready .get-started-text .get-started p {
    font-size: 1.5em;
    margin: 0;
    padding: 0.7em;
  }
  
  .ready .get-started-text .hr1 {
    float: left;
    width: 19%;
    margin-top: 47px;
  }
  
  .ready .get-started-text .hr2 {
    float: right;
    width: 19%;
    margin-top: -47px;
  }
  /** /Get started */
}

@media screen and (min-width: 1440px) and (max-width: 1799px) {
  /** Nav */
  .navbar {
    height: 5em;
  }
  
  .navbar-nav > li > a {
    padding: 25px 10px 20px 10px !important;
    font-size: 1em;
  }
  
  .nav-logo {
    margin-left: 1em;
    width: 3em;
    height: 3em;
    margin-top: 1em; 
  }
  /** /Nav */

  /** Footprint */
  .main-text .p1 {
    top: 24%;
    left: 12.8%;
    font-size: 8em;
  }
  
  .main-text .p2 {
    top: 24%;
    left: 25%;
    font-size: 8em;
  }
  
  .main-text img {
    top: 27%;
    left: 17%;
    width: 8em;
  }
  
  .main-text hr {
    left: 50%;
    width: 3px;
    height: 65px;
    top: 26.5%;
  }
  
  .main-text p {
    top: 28%;
    left: 51.5%;
    font-size: 1.1em;
    width: 30%;
  }
  /** /Footprint */

  /** Discovery */
  .story-text h1 {
    font-size: 4em;
    width: 31%;
    left: 11.5%;
    top: -84%;  
  }
  
  .story-text hr {
    left: 44.5%;
    width: 2px;
    height: 180px;
    top: -98%;
  }
  
  .story-text p {
    font-size: 1.1em;
    width: 50%;
    left: 46%;
    top: -78%;
  }
  /** /Discovery */

  /** Make some footprints */
  .footprints-text h1 {
    font-size: 7.5em;
    width: 30%;
    left: 11%;
    top: 17%;
  }
  
  .footprints-text hr {
    left: 30%;
    width: 2px;
    height: 118px;
    top: 55%;
  }
  
  .footprints-text p {
    font-size: 1.1em;
    left: 31%;
    width: 23%;
    top: 56.5%;
  }
  
  .footprints-text span {
    background-color: #13A89E;
    padding: 0 20px;
  }
  /** /Make some footprints */

  /** Safety first */
  .safety-text p {
    font-size: 1.1em;
  }
  /** /Safety first */

  /** Expand your network */
  .network-text .p1 {
    font-size: 9em;
    letter-spacing: 0.1em;
    left: 29.5%;
    top: 32%;
  }
  
  .network-text .p2 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    left: 38.5%;
    top: 44%;
  }
    
  .network-text .network-description {
    left: 33%;
    top: 59.5%;
    padding: 1%;
    width: 34%;
  }
  
  .network-text .network-description hr {
    width: 32%;
    margin-top: 2em;
    margin-bottom: -2.5em;
    border: 1px solid white;
  }
  
  .network-text .network-description p {
    font-size: 1.1em;
    padding: 4em;
  }
  /** /Expand your network */

  /** The community matters & First hand experience */
  .community-experience .head1 {
    font-size: 3em;
    left: 5%;
    top: 21%;  
  }
  
  .community-experience .head2 {
    font-size: 3em;
    left: 56.5%;
    top: 21%;
  }
  
  .community-experience .hr1 {
    left: 18%;
    top: 30%;
    width: 15%;
    border: 1px solid white;
  }
  
  .community-experience .hr2 {
    left: 67%;
    top: 30%;
    width: 15%;
    border: 1px solid white;
  }
  
  .community-experience .p1 {
    font-size: 1.1em;
    left: 9%;
    top: 34.5%;
    width: 33%;
  }
  
  .community-experience .p2 {
    font-size: 1.1em;
    left: 58%;
    top: 34.5%;
    width: 31%;
  }
  /** /The community matters & First hand experience */

  /** Get started */
  .ready {
    height: 800px;
  }
  
  .ready img {
    position: absolute;
    top: -10%;
  }
  
  .ready .get-started-text .get-started p {
    font-size: 1.5em;
    margin: 0;
    padding: 0.7em;
  }
  
  .ready .get-started-text .hr1 {
    float: left;
    width: 19%;
    margin-top: 47px;
  }
  
  .ready .get-started-text .hr2 {
    float: right;
    width: 19%;
    margin-top: -47px;
  }
  /** /Get started */
}

@media screen and (min-width: 1250px) and (max-width: 1439px) {
  /** Nav */
  .navbar {
    height: 3em;
  }
  
  .navbar-nav > li > a {
    padding: 25px 10px 20px 10px !important;
    font-size: 1em;
    line-height: 0 !important;
  }
  
  .nav-logo {
    margin-left: 1em;
    width: 3em;
    height: 3em;
    margin-top: 1em; 
  }
  /** /Nav */

  /** Footprint */
  .main-text .p1 {
    top: 24%;
    left: 12.8%;
    font-size: 7em;
  }
  
  .main-text .p2 {
    top: 24%;
    left: 25%;
    font-size: 7em;
  }
  
  .main-text img {
    top: 27%;
    left: 17%;
    width: 7em;
  }
  
  .main-text hr {
    left: 50%;
    width: 3px;
    height: 65px;
    top: 26.5%;
  }
  
  .main-text p {
    top: 28.5%;
    left: 51.5%;
    font-size: 1.1em;
    width: 30%;
    line-height: 23px;
  }
  /** /Footprint */

  /** Discovery */
  .story-text h1 {
    font-size: 4em;
    width: 31%;
    left: 11.5%;
    top: -90%;  
  }
  
  .story-text hr {
    left: 44.5%;
    width: 2px;
    height: 165px;
    top: -102%;
  }
  
  .story-text p {
    font-size: 1.1em;
    width: 50%;
    left: 46%;
    top: -88%;  
  }
  /** /Discovery */

  /** Make some footprints */
  .footprints-text h1 {
    font-size: 6.5em;
    width: 30%;
    left: 11%;
    top: 17%;
  }
  
  .footprints-text hr {
    left: 30%;
    width: 2px;
    height: 115px;
    top: 54.3%;
  }
  
  .footprints-text p {
    font-size: 1.1em;
    left: 31%;
    width: 25%;
    top: 56%;
  }
  
  .footprints-text span {
    background-color: #13A89E;
    padding: 0 20px;
  }
  /** /Make some footprints */

  /** Safety first */
  .safety-text p {
    font-size: 1.1em;
  }
  /** /Safety first */

  /** Expand your network */
  .network-text .p1 {
    font-size: 7.6em;
    letter-spacing: 0.12em;
    left: 29.7%;
    top: 30%;
  }
  
  .network-text .p2 {
    font-size: 2em;
    letter-spacing: 0.2em;
    left: 38%;
    top: 43%;
  }
    
  .network-text .network-description {
    left: 33%;
    top: 59.5%;
    padding: 1%;
    width: 34%;
  }
  
  .network-text .network-description hr {
    width: 32%;
    margin-top: 1.5em;
    margin-bottom: -1.5em;
    border: 1px solid white;
  }
  
  .network-text .network-description p {
    font-size: 1em;
    padding: 3em;
  }
  /** /Expand your network */

  /** The community matters & First hand experience */
  .community-experience .head1 {
    font-size: 2.5em;
    left: 6.5%;
    top: 21%;
  }
  
  .community-experience .head2 {
    font-size: 2.5em;
    left: 57.5%;
    top: 21%;
  }
  
  .community-experience .hr1 {
    left: 18%;
    top: 30%;
    width: 15%;
    border: 1px solid white;
  }
  
  .community-experience .hr2 {
    left: 67%;
    top: 30%;
    width: 15%;
    border: 1px solid white;
  }
  
  .community-experience .p1 {
    font-size: 1.1em;
    left: 9%;
    top: 34.5%;
    width: 33%;
  }
  
  .community-experience .p2 {
    font-size: 1.1em;
    left: 58%;
    top: 34.5%;
    width: 31%;
  }
  /** /The community matters & First hand experience */

  /** Get started */
  .ready {
    height: 550px;
  }
  
  .ready img {
    position: absolute;
    top: -10%;
  }
  
  .ready .get-started-text .get-started p {
    font-size: 1.3em;
    margin: 0;
    padding: 0.3em;
  }
  
  .ready .get-started-text .hr1 {
    float: left;
    width: 19%;
    margin-top: 30px;
  }
  
  .ready .get-started-text .hr2 {
    float: right;
    width: 19%;
    margin-top: -35px;
  }
  /** /Get started */
}

@media screen and (max-width: 425px) {
  /** Nav */
  .navbar {
    height: 2em;
  }
  
  .navbar-nav > li > a {
    padding: 11.5px 10px 20px 10px !important;
    font-size: 1em;
  }
  
  .nav-logo {
    margin-left: 1em;
    width: 3em;
    height: 3em;  
  }
  /** /Nav */

  /** Footprint */
  .main-text .p1 {
    top: 11%;
    left: 2%;
    font-size: 3em;
  }
  
  .main-text .p2 {
    top: 11%;
    left: 18%;
    font-size: 3em;
  }
  
  .main-text img {
    top: 21%;
    left: 7.5%;
    width: 3em;
  }
  
  .main-text hr {
    left: 50%;
    width: 1.5px;
    height: 25px;
    top: 13.5%;
  }
  
  .main-text p {
    top: 21%;
    left: 51.5%;
    font-size: 7px;
    width: 45%;
  }
  /** /Footprint */

  /** Discovery */
  .story-text h1 {
    font-size: 1.2em;
    width: 30%;
    left: 11.5%;
    top: -104%;
  }
  
  .story-text hr {
    left: 44%;
    width: 1px;
    height: 50px;
    top: -117%; 
  }
  
  .story-text p {
    font-size: 5px;
    width: 52%;
    left: 46%;
    top: -85%;
  }
  /** /Discovery */

  /** Make some footprints */
  .footprints-text h1 {
    font-size: 2.2em;
    width: 30%;
    left: 11%;
    top: 13%;
  }
  
  .footprints-text hr {
    left: 28%;
    width: 1.5px;
    height: 44px;
    top: 51%;
  }
  
  .footprints-text p {
    font-size: 6px;
    left: 30%;
    width: 30%;
    top: 57.5%;
  }
  
  .footprints-text span {
    background-color: #13A89E;
    padding: 0 5px;
  }
  /** /Make some footprints */ 

  /** Safety first */
  .safety-text p {
    font-size: 5px;
    width: 43%;
  }
  /** /Safety first */

  /** Expand your network */
  .network-text .p1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    left: 30.5%;
    top: 26%;
  }
  
  .network-text .p2 {
    font-size: 0.8em;
    letter-spacing: 0.1em;
    left: 36.5%;
    top: 38%;
  }
    
  .network-text .network-description {
    left: 33%;
    top: 59.5%;
    padding: 1%;
    width: 33%;
  }
  
  .network-text .network-description hr {
    border: 1px solid white;
    width: 32%;
    margin-top: 0.8em;
    margin-bottom: 0;
  }
  
  .network-text .network-description p {
    font-size: 6px;
    padding: 1.5em;
  }
  /** /Expand your network */

  /** The community matters & First hand experience */
  .community-experience .head1 {
    font-size: 1em;
    left: 2.2%;
    top: 21%;
  }
  
  .community-experience .head2 {
    font-size: 1em;
    left: 53.5%;
    top: 21%;
  }
  
  .community-experience .hr1 {
    border: 1px solid white;    
    left: 18%;
    top: 30%;
    width: 15%;
  }
  
  .community-experience .hr2 {
    border: 1px solid white;    
    left: 67%;
    top: 30%;
    width: 15%;
  }
  
  .community-experience .p1 {
    font-size: 7px;
    left: 9%;
    top: 41%;
    width: 33%;
  }
  
  .community-experience .p2 {
    font-size: 7px;
    left: 57%;
    top: 41%;
    width: 34%;
  }
  /** /The community matters & First hand experience */  

  /** Get started */
  .ready {
    height: 200px;
  }

  .ready .get-started-text {
    width: 75%;
    left: 12%;
    top: 48%;
  }
  
  .ready .get-started-text .get-started {
    padding: 1em;
    width: 33%;
  }

  .ready .get-started-text .get-started p {
    font-size: 9px;
    margin: 0;
    padding: 1px;
  }
  
  .ready .get-started-text .hr1 {
    border: 1px solid white;
    float: left;
    width: 19%;
    margin-top: 25px;
  }
  
  .ready .get-started-text .hr2 {
    border: 1px solid white;
    float: right;
    width: 19%;
    margin-top: -25px;
  }
  /** /Get started */  
}

@media screen and (max-width: 1366px) {
  .nav-logo {
    margin-top: 0.6em;
    width: 2em;
    height: 2em;
  }
}